name: Naver News Crawler

on:
  push:
    branches: [ "main" ]
  schedule:
    # UTC 기준 23:00 (한국 시간 오전 8:00)
    - cron: '0 23 * * *'
  workflow_dispatch: # 수동 실행 버튼 활성화

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run crawler
      run: |
        python inspect_naver.py
