name: Naver News Crawler

on:
  push:
    branches: [ "main" ]
  schedule:
    # UTC 기준 23:00(전날), 01:00, 03:00, 05:00 (한국 시간 08, 10, 12, 14시)
    - cron: '0 23,1,3,5 * * *'
  workflow_dispatch: # 수동 실행 버튼 활성화

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run crawler
      run: |
        python inspect_naver.py

    - name: Commit and Push results
      run: |
        git config --global user.name "GitHub Action Bot"
        git config --global user.email "action@github.com"
        git add news_data.csv
        # Check if there are changes to commit
        if git diff --staged --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Update news data: $(date +'%Y-%m-%d')"
          git push
        fi
